# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
.python-version

# UV
uv.lock
.uv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Tooling
.idea/
.vscode/
.mypy_cache/
.pytest_cache/

